.searchBoxContainer{
    margin:var(--margin-m) auto;
    max-width: var(--restricted-width);
    padding: 0 var(--restricted-padding);

    display: flex;
    gap: var(--margin-s);
    input, button{
        font-size: 1.8em;
    }

    input{flex-grow: 10; flex-shrink: 10;}
    button{flex-grow: 1; flex-shrink: 1; }
}

.searchResultContainer{
    margin:var(--margin-m) auto;
    max-width: var(--restricted-width);
    padding: 0 var(--restricted-padding);
}